@font-face {
    font-family: "Akkurat";
    src: url("fonts/akkurat-bold.otf");
}

@media (max-width: ) {

}

@media (max-width: 1000px) {
	.logo {
		width: 250px !important;
	}

	.menu-items {
		font-size: 24px !important;
		height: 95px !important;
	}

	.pop-up {
		font-size: 2em;
		margin-top: 30% !important;
	}

	#video {
		top: 7% !important;
		left: -15% !important;
		width: 115% !important;
		height: 115% !important; 
	}

	#video-frame {
		padding:100% 0 0 0; 
	}
}